h1{
    color: var(--primary);
    font-family: var(--font);
}
.card{
    min-width: 300px;
    margin: auto;
}
.categories-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem ; 
    padding: 2rem;
}
/* description */
.desc{
    display: flex;
    justify-content: space-between;
}
.play-btn{
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
}
.play-btn:hover{
    background-color: var(--accent);
    color: white;
    border: 2px solid var(--accent);
}
