.ques-container{
    height: 100vh;
}
/* heading */
.ques-heading{
    display:  flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    font-family: var(--font);
}
/* score containre */
.score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
/* question div */
.question-div{
    margin: auto;
    padding: 2rem;
}
.question-div p{
    padding: 1rem;
}
/* options */
.stacked-list-item{
    background-color: var(--primary-light);
    margin: 0.8rem;
}
.correct{
    background-color: var(--success);
    color: white;
}
.wrong{
    background-color: var(--danger);
    color: white;
}
/* buttons */
.btns-div{
    margin: auto;
    width: 77%;
    display: flex;
    justify-content: space-between;
}
.save{
    margin-left: 84%;
    margin: 0;
}