@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import './styles/variables.css';
@import './styles/categories.css';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex-grow: 1; 
}
/* homepage */
.banner{
  display: flex; 
  justify-content: space-around;
  align-items: center;
  font-family: var(--font);
  background-color: var(--primary-light);
  padding: 4rem 0;
}

.img-div{
  width: 450px;
  padding: 1rem;
  margin: 0 1rem;
}
.heading-div{
  padding: 1rem;
  width: 600px;
  margin: 1rem;
}
.explore-btn{
  background-color: var(--primary);
}
.explore-btn:hover{
  background-color: var(--accent);
}
.arrow{
  vertical-align: middle;
}
/* most played */
.most-played{
  padding: 2rem;
}
.most-played h6{
  font-family: var(--font);
  color: var(--primary);
}
/* page not found */
.page{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page img{
  width: 300px; 
}
/* fab button */
.fab-primary{
  margin-left: 1rem;
}